<% include ../../template_views/header.ejs %>
  <div class="content">
    <h1>Ice and Fire</h1>
  </div>
  <% include ../../template_views/scripts.ejs %>
  <script src="/js/ice_and_fire_ctrl.js"></script>
<% include ../../template_views/footer.ejs %>
