<% include ../../template_views/header.ejs %>
  <div ng-controller="iceAndFireCtrl" ng-init="init()" class="content">
    <h1>Ice and Fire</h1>
  </div>
  <% include ../../template_views/scripts.ejs %>

<% include ../../template_views/footer.ejs %>
